body{
    background-color: rgb(246, 243, 239);
}
.container{
    display:flex;
    width:100%;
    height:100%;
    flex-direction:column;
    align-items:center;
}
.header-container{
    display:flex;
    align-items:self-start;
    flex-direction:column;
    height:20%;
    width:100%;
    padding-left:30%;
    background-color: rgba(204, 81, 47, 0.755);
    color:white;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}
.basic-info-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    flex-direction:column;
    width:100%;
    height: 40%;
    align-items:center;
    justify-content:center;
    padding-bottom:15px;
}
.form-register-1{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding-top:20px;
    weight:50%;
    height:100%;
}
.login-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.form-register-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    weight:50%;
    height:90%;
    padding-top:10px;
}
.size-box{
    display:grid;
    grid-template-columns:1fr 1fr;
    flex-direction: column;
    gap:20px;
    padding:30px;
}
.legend-container{
    display:flex;
    flex-direction:flex-start;
}
.register-container{
    display:flex;
    flex-direction:column;
    width:70vw;
    
   
}
.card-conference {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    background-color: white;
    padding: 10px;
    width: 98%;
    height: 100%;
}
.cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
}
.card {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.card-part-1 {
    padding: 10px;
}
.card-part-2 {
    padding: 10px;
}
.total-price {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.container-payment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:center;
    flex-direction:column;
}
.terms-1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}
.terms1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}
.total-legend-code{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-content:center;
    padding-top:20px;
}
.paypal-method {
    border: 2px solid grey;
    background-color: white;
    padding-left: 10px;
}
.bitcoin-method {
    border: 2px solid grey;
    background-color: white;
    padding-left: 10px;
}
.buton-register {
    background-color: rgb(195, 91, 110);
    color: white;
    border-radius: 10%;
    border: 2px solid rgb(195, 91, 110);
    width: 100px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}